<!DOCTYPE html>
<div class="animated fadeIn">
  <h1>
    Buscador: <small> {{ termino }} </small>
  </h1>
  <hr />
  <div class="row">
    <div class="col-md-12" *ngIf="heroes.length == 0">
      <div class="alert alert-info" role="alert">
        No hay resultados con el término: {{ termino }}
      </div>
    </div>
  </div>
  <div class="card-columns">
      <app-heroe-tarjeta (heroeSeleccionado)="verDetalle($event)" [heroe]="heroe" [index]="i" *ngFor="let heroe of heroes; let i = index"></app-heroe-tarjeta>
  </div>
</div>
